<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Buyers details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label position="floating">Model number</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>No Bill</ion-label>
    </ion-item>



    <ion-item>
      <!-- <ion-label>Pick date</ion-label>
  <ion-input
    value="{{ date | date: 'dd.MM.yyyy' }}"
    id="date"
    class="ion-text-end"
  ></ion-input>
  <ion-popover trigger="date" size="cover">
    <ng-template>
      <ion-datetime
  value="2022-04-21T00:00:00"
  min="2022-03-01T00:00:00"
  max="2022-05-31T23:59:59"
></ion-datetime>
    </ng-template>
  </ion-popover> -->
      <ion-datetime-button    datetime="bill_datetime"></ion-datetime-button>
      <ion-label>Bill Date</ion-label>
      <ion-modal [keepContentsMounted]="true">

        <ng-template>

          <ion-datetime  presentation="date" id="bill_datetime" color="success">
            <span slot="title">Select Bill Date</span>
          </ion-datetime>

        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>No Warranty</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Used days</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-datetime-button datetime="purchase_datetime"></ion-datetime-button>
      <ion-label>Purchase date</ion-label>
      <ion-modal [keepContentsMounted]="true">

        <ng-template>

          <ion-datetime presentation="date" id="purchase_datetime" color="success">
            <span slot="title">Select Bill Date</span>
          </ion-datetime>

        </ng-template>
      </ion-modal>

    </ion-item>

<ion-item>


    <ion-label position="floating">IMEI-1</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">IMEI-2/Serial No</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mobile number</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Buying Price</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Buyer Aadhar Number</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Buyer Photo</ion-label>
    <ion-input type="file" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Bill Photo</ion-label>
    <ion-input type="file" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mobile Photo</ion-label>
    <ion-input type="file" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Aadhar Photo</ion-label>
    <ion-input type="file" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>IMEI Photo</ion-label>
    <ion-input type="file" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Other Photo</ion-label>
    <ion-input type="file" accept="image/*"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Bill PDF</ion-label>
    <ion-input type="file" accept=".pdf"></ion-input>
  </ion-item>
  <ion-button expand="block">Save</ion-button>
  </ion-list>



  <!-- <ion-list>
        <h3 style="font-weight: bold;">sign in to continue</h3>
        <ion-item >
          <ion-label >Email Address</ion-label>
          <ion-input formControlName="email" formContr type="text"></ion-input>
          <span slot="error" *ngIf="loginForm.hasError && loginForm.dirty">Email is required</span>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <span slot="error" *ngIf="loginForm.hasError && loginForm.dirty">Password is required</span>
        </ion-item>
        <ion-button (click)="login()" expand="block" >Sign In</ion-button>

      </ion-list> -->




</ion-content>
