<ion-header >
  <ion-toolbar>
    <ion-title >login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="heading">Rajendra Collection</div>
<div class="background">
  <form [formGroup]="loginForm" class="user-form">

    <ion-list>
      <h3 style="font-weight: bold;">sign in to continue</h3>
      <ion-item >
        <ion-label position="floating">Email Address</ion-label>
        <ion-input formControlName="email" formContr type="text"></ion-input>
        <span slot="error" *ngIf="loginForm.hasError && loginForm.dirty">Email is required</span>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <span slot="error" *ngIf="loginForm.hasError && loginForm.dirty">Password is required</span>
      </ion-item>
      <ion-button (click)="login()" expand="block" >Sign In</ion-button>

    </ion-list>

  </form>

</div>


</ion-content>
