<ion-header>
  <ion-toolbar>
    <ion-title style="color:#fff !important">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="heading">Rajendra Collection</div>
<div class="background">
  <div class="user-form">
 
    <ion-list>
      <h3 style="font-weight: bold;">sign in to continue</h3>
      <ion-item >
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" >Sign In</ion-button>

    </ion-list> 
   
  </div>
  
</div>


</ion-content>
