<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>change-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label position="floating">Current Password</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Re-type New Password</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-button (click)="changePassword()" expand="block" >Change Password</ion-button>
</ion-list>
</ion-content>
