<app-header label="Home">
  <!-- <ion-icon class="three-dot-menu" name="ellipsis-vertical-outline" ></ion-icon> -->

</app-header>
<ion-icon class="three-dot-menu" name="ellipsis-vertical-outline" id="popover-button"></ion-icon>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-content class="ion-padding" (click)="changePassword()">Change Password</ion-content>
      <ion-content class="ion-padding" (click)="changeSaleRportPassword()">Change Sales Report Password</ion-content>
      <ion-content class="ion-padding" >Report local backup</ion-content>

    </ion-content>
  </ng-template>
</ion-popover>
<ion-content style="text-align:center">
  <ion-grid style="margin-top: 10%;">
    <ion-row>
      <ion-col>
        <ion-card style="background:lightblue">
          <ion-card-header>
            <ion-card-title class="text-color">Stock</ion-card-title>
          </ion-card-header>

          <ion-card-content >
            <h2>1</h2>
            <h2>Rs. 0</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background:  #d9ef97;">
          <ion-card-header>
            <ion-card-title class="text-color">Buy</ion-card-title>
          </ion-card-header>

          <ion-card-content >
            <h2>1</h2>
            <h2>Rs. 0</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <ion-card style="background:lightgreen">
          <ion-card-header>
            <ion-card-title class="text-color">Profit</ion-card-title>
          </ion-card-header>

          <ion-card-content >
            <h2>1</h2>
            <h2>Rs. 0</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background:#e96c6c">
          <ion-card-header>
            <ion-card-title class="text-color">Sell</ion-card-title>
          </ion-card-header>

          <ion-card-content >
            <h2>1</h2>
            <h2>Rs. 0</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
<div class="center">
      <ion-item >
        <ion-select placeholder="Select View ">
          <ion-select-option value="apples">Today</ion-select-option>
          <ion-select-option value="oranges">Yesterday</ion-select-option>
          <ion-select-option value="bananas">This Month</ion-select-option>
          <ion-select-option value="bananas">Last Month</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <ion-card style="margin-top: 12%">
    <ion-grid >
      <ion-row>
        <ion-col>
              <ion-icon name="add-circle" class="icon" ></ion-icon>
              <br>
            <ion-label (click)="buyerDetails()">Buyer Datails</ion-label>
        </ion-col>
        <ion-col>
          <ion-icon name="log-out" class="icon"></ion-icon>
              <br>
            <ion-label (click)="sellerDetails()">seller Datails</ion-label>
        </ion-col>
        <ion-col>
          <ion-icon name="search" class="icon"></ion-icon>
          <br>
        <ion-label (click)="search()">Search</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="basket" class="icon"></ion-icon>
          <br>
        <ion-label (click)="stocks()">Stock</ion-label>
        </ion-col>
        <ion-col>
          <ion-icon name="bar-chart" class="icon"></ion-icon>
          <br>
        <ion-label (click)="sellReport()">Sell Report</ion-label>
        </ion-col>
        <ion-col>
          <ion-icon name="clipboard" class="icon"></ion-icon>
          <br>
        <ion-label (click)="sellReport()">Amount pending  </ion-label>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

</ion-content>
